<div class="no-questions">
    <!-- image undefined/not found -->
    <img src="/images/noquestions.svg" alt="Sem perguntas">
    <p>Ainda não há nenhuma pergunta por aqui...</p>
    <p>Faça sua primeira pergunta e envie o <br>código dessa sala para outros usuários!</p>
</div>